@tailwind base;
@tailwind components;
@tailwind utilities;

.button-dark-light {
    width: 80px;
    height: 30px;
    border: 1px solid #004aad;
    border-radius: 4px;
    outline: #004aad;
}

.dark {
    background-color: #18191a;
    color: #fff;
}

.dark .navbar,
.dark footer {
    background-color: #18191a;
    color: #fff;
}

.dark .titleMessage,
.dark .contact-jumbotron {
    background-color: #2f3031;
}

.dark .main,
.dark .sub {
    color: #1c98ed;
}

.dark h1 {
    color: white;
}

.dark .card {
    background-color: #2f3031 !important;
}

.light {
    background-color: #a4d6f8;
    color: #302c34;
}

.light .about {
    background: #d2eafb;
}

.dark .github {
    color: white;
    border: 1px solid white;
}


