@tailwind base;
@tailwind components;
@tailwind utilities;

.right-corner-button {
    padding: 5px 15px;
    position: fixed;
    bottom: 30px;
    right: 50px;
    z-index: 1;
}

.dark {
    background-color: #18191a;
    color: #fff;
}

.dark .navbar,
.dark footer {
    background-color: #18191a;
    color: #fff;
}

.dark .titleMessage,
.dark .contact-jumbotron {
    background-color: #2f3031;
}

.dark .main,
.dark .sub {
    color: #1c98ed;
}

.dark h1,
.dark .text {
    color: white;
}

.dark .text {
    background-color:  #464748;
}

.dark .card {
    background-color: #2f3031 !important;
}

.light {
    background-color: #a4d6f8;
    color: #302c34;
}

.light .about {
    background: #d2eafb;
}

.light .github {
    color: #2f3031;
    border-color: #2f3031;
}

.light .github:hover {
    color: #fefefe;
    border-color: #888;
}

.dark .github {
   color: #fefefe;
    border-color: #fefefe;
}

.dark .github:hover {
    border-color: #888;
}


