@font-face {
    font-family: "Monoton";
    src: local("Monoton"),
    url('../../containers/Monoton/Monoton-Regular.ttf') format("truetype");
}

.my-name {
    font-family: Monoton, sans-serif;
    color: white;
}

.titleMessage {
    background-color: #1c98ed;
    padding: 0.7em 0;
    border-radius: 4px;
}

@media only screen and (max-width: 786px) {
    .my-name {
        font-size: 0.8em !important;
    }
}
