/*body.light-mode {*/
/*    background-color: #fff;*/
/*    color: #333;*/
/*    transition: background-color 0.3s ease;*/
/*}*/

/*body.dark-mode {*/
/*    background-color: #1c1e21;*/
/*    color: #999;*/
/*}*/

/*.elements {*/
/*    color: #18191a;*/
/*}*/


.toggle {
    margin-top: 100px;
    z-index: 99;
}

.toggle:focus {
    outline: lightskyblue;
}
