@tailwind base;
@tailwind components;
@tailwind utilities;

.image-style {
    height: 6em;
    width: auto;
}

.image-style:hover {
    transform: translateY(-3px);
}

.image-style:active {
    transform: translateY(-1px);
}

.font-details {
    font-size: 3em;
    font-weight: 500;
    color: #082e47;
}

.font-details-b {
    padding-top: 20px;
    font-size: 3em;
    font-weight: 500;
    color: #082e47;
}

@media only screen and (max-width: 786px) {
    .image-style {
        height: 4em;
    }

    p {
        font-size: 1rem;
    }
}
