@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: sans-serif;

  /*background: #a4d6f8;  !* fallback for old browsers *!*/
  /*background: -webkit-linear-gradient(to left, #ffffff, #a4d6f8);  !* Chrome 10-25, Safari 5.1-6 *!*/
  /*background: linear-gradient(to bottom, #ffffff, #a4d6f8); !* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *!*/

  /*background-color: white;*/

  /* Full height */
  /*height: 100%;*/

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

